<h3> <%= game.name %> </h3>
<h4> Rating: <%= game.total_rating.toFixed(2) %> </h4>
<h3>Game summary: <%= game.summary %> </h3>

<form method="POST" action="/favorites">
  <input hidden type="text" name="gameId" value="<%= game.id %>">
  <input hidden type="text" name="userId" value="<%= currentUser.id %>">
  <input hidden type="text" name="name" value="<%= game.name %>">
  <button class="btn btn-primary" type="submit">Add to Favorites</button>
</form>
